.home {
    background-image: url('../Assets/Iteration-1-assets/home-banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.left-div {
    background-image: url('../Assets/Iteration-2-aseets/cta/kart-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.right-div-one {
    background-image: url('../Assets/Iteration-2-aseets/cta/kart-2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.right-div-two {
    background-image: url('../Assets/Iteration-2-aseets/cta/kart-3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}